@use '../../styles/variables' as colors;

.wrapper {
  padding: 25px;
  flex: 1;
  overflow-y: auto;
  overflow-wrap: break-word;
  background-color: colors.$bg-30;

  @media screen and (max-width: 800px) {
    border-top: 2px solid colors.$require-red;
  }
}

.button {
  background-color: colors.$bg-50;
  font-size: 1em;
  font-family: inherit;
  margin: 16px 10px 0 0;
  padding: 5px 15px;
  cursor: pointer;
  vertical-align: center;
  display: inline-block;
  text-decoration: none;

  &:hover {
    background-color: colors.$bg-60;
    color: colors.$white;
  }
}
