@use './variables' as colors;

html {
  font-family: "Fira Code", monospace;
  color: #fff;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bg-10);
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;

  * {
    box-sizing: inherit;
  }
}

*:focus {
  outline: 1px dotted colors.$require-red;
}

a[href],
area[href],
input:not([disabled]),
select:not([disabled]),
textarea:not([disabled]),
button:not([disabled]),
iframe,
[tabindex],
[contentEditable="true"] {
  &:not([tabindex="-1"]) {
    &:focus {
      outline: 1px dashed colors.$require-red;
    }
    @supports (a: focus-visible) {
      &:focus {
        outline: none;
      }
      &:focus-visible {
        outline: 1px dashed colors.$require-red;
      }
    }
  }
}

a {
  color: inherit;

  &:hover {
    color: colors.$require-red;
  }
}
