$require-red: #ff5370;
$require-red-lighter: #ffa0b0;
$white: #ffffff;
$bg-10: #0f111a;
$bg-20: #141621;
$bg-30: #181a25;
$bg-40: #1d1f2d;
$bg-50: #2e2f3e;
$bg-60: #3f3f4f;
$gray: #ffffff88;
$gray-lighter: #ffffffaa;
