@use '../../styles/variables' as colors;

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  flex-direction: column;
  padding: 3em 0;
}

.archiveRedirect {
  color: colors.$require-red;
  padding: 0 30px;

  a {
    color: colors.$white;

    &:hover {
      text-decoration: none;
    }
  }
}
