.wrapper {
  display: block;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  background-color: var(--bg-30);
  color: var(--white);
  z-index: 10;
  transition: 0.3s ease;
  max-width: 400px;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 3px var(--require-red);
    color: var(--white);
  }

  @media (max-width: 800px) {
    max-width: unset;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.redText {
  color: var(--require-red)
}
