@use '../../styles/variables' as colors;

.wrapper {
  max-width: 800px;
  width: 100%;
  background-color: colors.$bg-40;
  margin: 1em auto;
}

.info {
  padding: 20px;
  border-bottom: 1px solid colors.$bg-20;
  text-align: left;

  &.ticker {
    margin: 5px 0;
    height: 10px;
  }
}

.title {
  margin: 0 0 5px 0;
}

.marqueeContent {
  white-space: nowrap;
  margin: 0;
  color: #bbbbbb;
}
