@use '../../styles/variables' as colors;

.wrapper {
  background-color: colors.$bg-20;
  padding: 2em 6em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;

  @media (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em 8em 2em;
  }

  @media (max-width: 800px) {
    paddinb-bottom: 7em;
  }
}

.linksWrapper {
  text-align: left;
  margin: 1em 0;
  width: max-content;

  @media (max-width: 1000px) {
    text-align: center;
  }

  &:before {
    border-top: 2px solid colors.$require-red;
    display: block;
    width: 100%;
    content: "";
    margin: 0 auto 1em;
    text-align: center;
  }
}

.link {
  color: colors.$gray;
  font-size: 1em;
  text-decoration: none;
  display: block;
  font-weight: 100;

  &:hover {
    color: colors.$white;
  }
}

.text {
  color: colors.$gray;
  font-size: 1em;
  font-weight: 100;
  text-align: right;
  margin: 1em 0 1em auto;
  width: max-content;

  @media (max-width: 1000px) {
    text-align: center;
    margin: 1em 0;
  }

  p {
    margin: 0;
  }

  &:before {
    border-top: 2px solid colors.$require-red;
    display: block;
    width: 100%;
    content: "";
    margin: 0 auto 1em;
  }
}

.vercelLogoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;

  @media (max-width: 1000px) {
    margin: 2em 0;
  }
}